@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.card {
  overflow: hidden;
  border-radius: 3% !important;
}

.card img {
  transition: 0.7s all ease-in-out;
  border-radius: 5%;
  width: 100%;
  height: 400px;
  object-fit: cover;
  padding: 5px;
}
.card img:hover {
  opacity: 0.95;
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .logo {
    text-align: center;
  }
  .card img {
    transition: 0.7s all ease-in-out;
    width: 90%;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
  }
}


.detailcard img {
  min-height: 55vh;
}

.DetailH1{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
